include LICENSE
include README.md
include CHANGELOG.md
include pyproject.toml
include CMakeLists.txt
recursive-include src *.cc *.h *.proto
recursive-include gcld3 *.cc *.py
recursive-include cmake *.cmake
recursive-include misc *.cmake
recursive-include tests *.py *.cc *.json
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.so
global-exclude *.dylib
global-exclude *.dll
prune src/cld_3
prune build
prune wheelhouse
prune dist
prune .github
prune .git
